# 第2章: UNIXコマンド

[popular-names.txt](/data/popular-names.txt)は、アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである。以下の処理を行うプログラムを作成し、[popular-names.txt](/data/popular-names.txt)を入力ファイルとして実行せよ。さらに、同様の処理をUNIXコマンドでも実行し、プログラムの実行結果を確認せよ。

ローカルに保存されたpopular-names.txtをcolabにアップデート

In [1]:
%pwd

'/content'

## 10. 行数のカウント
ファイルの行数をカウントせよ。確認にはwcコマンドを用いよ。

In [2]:
with open('/content/popular-names.txt', 'r') as f:
  print(len(f.readlines()))

2780

In [3]:
!wc -l /content/popular-names.txt

2780 /content/popular-names.txt

## 11. 先頭からN行を出力
ファイルの先頭N行だけを表示せよ。例えば、N=10として先頭10行を表示せよ。確認にはheadコマンドを用いよ。

In [4]:
with open('/content/popular-names.txt', 'r') as f:
  lines = f.readlines()
  print(''.join(lines[:10]))

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [5]:
!head -n 10 /content/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

## 12. 末尾のN行を出力
ファイルの末尾N行だけを表示せよ。例えば、N=10として末尾10行を表示せよ。確認にはtailコマンドを用いよ。

In [6]:
with open('/content/popular-names.txt', 'r') as f:
  lines = f.readlines()
  print(''.join(lines[-10:]))

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [7]:
!tail -n 10 /content/popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 13. タブをスペースに置換
ファイルの先頭10行に対して、タブ1文字につきスペース1文字に置換して出力せよ。確認にはsedコマンド、trコマンド、もしくはexpandコマンドなどを用いよ。

In [8]:
with open('/content/popular-names.txt') as f:
  lines = f.readlines()
  firstten_lines = lines[:10]
  modified_lines = [line.replace("\t", " ") for line in firstten_lines]
  print(''.join(modified_lines))

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [9]:
!sed '1,10 s/\t/ /g' /content/popular-names.txt | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 14. 1列目を出力
ファイルの先頭10行に対して、各行の1列目だけを抜き出して表示せよ。確認にはcutコマンドなどを用いよ。

In [10]:
with open('/content/popular-names.txt') as f:
  lines = f.readlines()
  firstten_lines = lines[:10]
  for line in firstten_lines:
    first_column = line.split()[0]
    print(first_column)

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [11]:
!cut -f 1 /content/popular-names.txt | head -n 10

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

## 15. ファイルをN分割する
ファイルを行単位でN分割し、別のファイルに格納せよ。例えば、N=10としてファイルを10分割せよ。同様の処理をsplitコマンドで実現せよ。

In [12]:
!mkdir chunk

In [13]:
with open('/content/popular-names.txt') as f:
  lines = f.readlines()
  n = 10
  size = len(lines) // n

  for i in range(n):
    start = i * size
    end = (i + 1) * size

    with open(f'/content/chunk/chunk{i+1}.txt', 'w') as f_out:
      f_out.writelines(lines[start:end])

In [14]:
!mkdir -p /content/chunk2
!split -n l/10 /content/popular-names.txt /content/chunk2/bunkatsu_

## 16. ランダムに各行を並び替える
ファイルを行単位でランダムに並び替えよ（注意: 各行の内容は変更せずに並び替えよ）。同様の処理をshufコマンドで実現せよ。

In [15]:
import random


with open('/content/popular-names.txt', 'r') as f:
    lines = f.readlines()

random.shuffle(lines)

with open('/content/popular-names-shuffled.txt', 'w') as f:
    f.writelines(lines)

## 17. １列目の文字列の異なり
1列目の文字列の異なり（文字列の種類）を求めよ。確認にはcut, sort, uniqコマンドを用いよ。

In [33]:
with open('/content/popular-names.txt', 'r') as f:
  names = []

  for line in f:

    data = line.split('\t')
    name = data[0]
    names.append(name)

kotaetachi = sorted(set(names))
for kotae in kotaetachi:
  print(kotae)

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela
Anna
Annie
Anthony
Ashley
Austin
Ava
Barbara
Benjamin
Bertha
Bessie
Betty
Brandon
Brian
Brittany
Carol
Carolyn
Charles
Charlotte
Chloe
Christopher
Clara
Crystal
Cynthia
Daniel
David
Deborah
Debra
Donald
Donna
Doris
Dorothy
Edward
Elijah
Elizabeth
Emily
Emma
Ethan
Ethel
Evelyn
Florence
Frances
Frank
Gary
George
Hannah
Harper
Harry
Heather
Helen
Henry
Ida
Isabella
Jacob
James
Jason
Jayden
Jeffrey
Jennifer
Jessica
Joan
John
Joseph
Joshua
Judith
Julie
Justin
Karen
Kathleen
Kelly
Kimberly
Larry
Laura
Lauren
Liam
Lillian
Linda
Lisa
Logan
Lori
Lucas
Madison
Margaret
Marie
Mark
Mary
Mason
Matthew
Megan
Melissa
Mia
Michael
Michelle
Mildred
Minnie
Nancy
Nicholas
Nicole
Noah
Oliver
Olivia
Pamela
Patricia
Rachel
Rebecca
Richard
Robert
Ronald
Ruth
Samantha
Sandra
Sarah
Scott
Sharon
Shirley
Sophia
Stephanie
Steven
Susan
Tammy
Taylor
Thomas
Tracy
Tyler
Virginia
Walter
William

In [27]:
!cut -f 1 /content/popular-names.txt | sort | uniq

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela
Anna
Annie
Anthony
Ashley
Austin
Ava
Barbara
Benjamin
Bertha
Bessie
Betty
Brandon
Brian
Brittany
Carol
Carolyn
Charles
Charlotte
Chloe
Christopher
Clara
Crystal
Cynthia
Daniel
David
Deborah
Debra
Donald
Donna
Doris
Dorothy
Edward
Elijah
Elizabeth
Emily
Emma
Ethan
Ethel
Evelyn
Florence
Frances
Frank
Gary
George
Hannah
Harper
Harry
Heather
Helen
Henry
Ida
Isabella
Jacob
James
Jason
Jayden
Jeffrey
Jennifer
Jessica
Joan
John
Joseph
Joshua
Judith
Julie
Justin
Karen
Kathleen
Kelly
Kimberly
Larry
Laura
Lauren
Liam
Lillian
Linda
Lisa
Logan
Lori
Lucas
Madison
Margaret
Marie
Mark
Mary
Mason
Matthew
Megan
Melissa
Mia
Michael
Michelle
Mildred
Minnie
Nancy
Nicholas
Nicole
Noah
Oliver
Olivia
Pamela
Patricia
Rachel
Rebecca
Richard
Robert
Ronald
Ruth
Samantha
Sandra
Sarah
Scott
Sharon
Shirley
Sophia
Stephanie
Steven
Susan
Tammy
Taylor
Thomas
Tracy
Tyler
Virginia
Walter
William

## 18. 各行の1列目の文字列の出現頻度を求め、出現頻度の高い順に並べる
1列目の文字列の出現頻度を求め、出現頻度と名前を出現頻度の多い順に並べて表示せよ。確認にはcut, uniq, sortコマンドを用いよ。

In [22]:
from collections import Counter

with open("/content/popular-names.txt") as f:
  names = []

  for line in f:

    data = line.split('\t')
    name = data[0]
    names.append(name)

counts = Counter(names)


for name, count in counts.most_common():
  print(str(name) + '\t' + str(count))

James	118
William	111
John	108
Robert	108
Mary	92
Charles	75
Michael	74
Elizabeth	73
Joseph	70
Margaret	60
George	58
Thomas	58
David	57
Richard	51
Helen	45
Frank	43
Christopher	43
Anna	41
Edward	40
Ruth	39
Patricia	38
Matthew	37
Dorothy	36
Emma	35
Barbara	32
Daniel	31
Joshua	31
Sarah	26
Linda	26
Jennifer	26
Emily	26
Jessica	25
Jacob	25
Mildred	24
Betty	24
Susan	24
Henry	23
Ashley	23
Nancy	22
Andrew	21
Florence	20
Marie	20
Donald	20
Amanda	20
Samantha	19
Karen	18
Lisa	18
Melissa	18
Madison	18
Olivia	18
Stephanie	17
Abigail	17
Ethel	16
Sandra	16
Mark	16
Frances	15
Carol	15
Angela	15
Michelle	15
Heather	15
Ethan	15
Isabella	15
Shirley	14
Kimberly	14
Amy	14
Ava	14
Virginia	13
Deborah	13
Brian	13
Jason	13
Nicole	13
Hannah	13
Sophia	13
Minnie	12
Bertha	12
Donna	12
Cynthia	11
Alice	10
Doris	10
Ronald	10
Brittany	10
Nicholas	10
Mia	10
Noah	10
Joan	9
Debra	9
Tyler	9
Ida	8
Clara	8
Judith	8
Taylor	8
Alexis	8
Alexander	8
Mason	8
Harry	7
Sharon	7
Steven	7
Tammy	7
Brandon	7
Liam	7
Anthony	6
Annie	5
Gary	5
Jeffrey	5
Jayden	5
Charlotte	5
Lillian	4
Kathleen	4
Justin	4
Austin	4
Chloe	4
Benjamin	4
Evelyn	3
Megan	3
Aiden	3
Harper	3
Elijah	3
Bessie	2
Larry	2
Rebecca	2
Lauren	2
Amelia	2
Logan	2
Oliver	2
Walter	1
Carolyn	1
Pamela	1
Lori	1
Laura	1
Tracy	1
Julie	1
Scott	1
Kelly	1
Crystal	1
Rachel	1
Lucas	1

In [26]:
!cut -f 1 /content/popular-names.txt | sort | uniq -c | sort -nr
#uniqは連続した重複行しかカウントしないから、はじめにsort必要

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret
     58 Thomas
     58 George
     57 David
     51 Richard
     45 Helen
     43 Frank
     43 Christopher
     41 Anna
     40 Edward
     39 Ruth
     38 Patricia
     37 Matthew
     36 Dorothy
     35 Emma
     32 Barbara
     31 Joshua
     31 Daniel
     26 Sarah
     26 Linda
     26 Jennifer
     26 Emily
     25 Jessica
     25 Jacob
     24 Susan
     24 Mildred
     24 Betty
     23 Henry
     23 Ashley
     22 Nancy
     21 Andrew
     20 Marie
     20 Florence
     20 Donald
     20 Amanda
     19 Samantha
     18 Olivia
     18 Melissa
     18 Madison
     18 Lisa
     18 Karen
     17 Stephanie
     17 Abigail
     16 Sandra
     16 Mark
     16 Ethel
     15 Michelle
     15 Isabella
     15 Heather
     15 Frances
     15 Ethan
     15 Carol
     15 Angela
     14 Shirley
     14 Kimberly
     14 Ava
     14 Amy
     13 Virginia
     13 Sophia
     13 Nicole
     13 Jason
     13 Hannah
     13 Deborah
     13 Brian
     12 Minnie
     12 Donna
     12 Bertha
     11 Cynthia
     10 Ronald
     10 Noah
     10 Nicholas
     10 Mia
     10 Doris
     10 Brittany
     10 Alice
      9 Tyler
      9 Joan
      9 Debra
      8 Taylor
      8 Mason
      8 Judith
      8 Ida
      8 Clara
      8 Alexis
      8 Alexander
      7 Tammy
      7 Steven
      7 Sharon
      7 Liam
      7 Harry
      7 Brandon
      6 Anthony
      5 Jeffrey
      5 Jayden
      5 Gary
      5 Charlotte
      5 Annie
      4 Lillian
      4 Kathleen
      4 Justin
      4 Chloe
      4 Benjamin
      4 Austin
      3 Megan
      3 Harper
      3 Evelyn
      3 Elijah
      3 Aiden
      2 Rebecca
      2 Oliver
      2 Logan
      2 Lauren
      2 Larry
      2 Bessie
      2 Amelia
      1 Walter
      1 Tracy
      1 Scott
      1 Rachel
      1 Pamela
      1 Lucas
      1 Lori
      1 Laura
      1 Kelly
      1 Julie
      1 Crystal
      1 Carolyn

## 19. 3列目の数値の降順に各行を並び替える
3列目の数値の逆順でファイルの各行を整列せよ（注意: 各行の内容は変更せずに並び替えよ）。同様の処理をsortコマンドで実現せよ。